<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="E:/UI_automation_and_Api/UI_automation_and_Api">
        <classes>
            <class name="baseTests.googleTestRuns">
                <methods>
                    <include name="successfulTest"/>
                </methods>
            </class>
            <class name="baseTests.herokuTestRuns">
                <methods>
                    <include name="successfulTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>